.ido-stake-container {
    margin: 3rem 5.75rem;
    padding: 5rem 3.8rem;
    background-color: #15152D;
    border-radius: 3.125rem;
}

.participant-ido-stake {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 5rem;
}

.stake-logo-text {
    display: flex;
    align-items: start;
    gap: 1rem;
    width: 60%;
}

.stake-text h3 {
    font-size: 2rem;
    margin: 0;
    font-weight: 700;

}

.stake-text p {
    margin: 0 0 2.5rem;
    font-weight: 600;
    font-size: 1.5rem;
}

.stake-text small {
    font-size: 1.2rem;
}

.token-details {
    display: flex;
    justify-content: space-between;
    padding: 3rem 4rem;
    margin-bottom: 5rem;
    border-bottom: 1px solid #8C8A8A;
}

.deposit-withdraw {
    display: flex;
    gap: 2rem;
}

.stake-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;   
}

.stake-details p, .pend-reward {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 500;
}

.wit-dep-stake p {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
}

.input-btn {
    border: 3px solid #D0CECE;
    display: flex;
    width: fit-content;
    height: 3rem;
    margin: 1rem 0 0.5rem;
    border-radius: 3px;
}

.input-btn input {
    background-color: transparent;
    border: none;
    width: 13rem;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    color: #D0CECE;
}

.input-btn input:focus {
    outline: none;
}

.input-btn button {
    padding: 0.5rem 1rem;
    color: #FFFFFF;
    font-size: 1.5rem;
    background-color: #2D314D;
    border: none;
    cursor: pointer;
}

.stake-button, .pending-rewards button {
    padding: 1rem 5rem;
    background: linear-gradient(90deg, #0043FE -10.61%, #500E98 117.53%);
    font-size: 1.5rem;
    color: #FFFFFF;
    font-weight: 700;
    border-radius: 2.375rem;
    border: none;
    cursor: pointer;
}

.pending-rewards {
    display: flex;
    flex-direction: column;

}

.reward-value {
    font-size: 2.25rem;
    font-weight: 700;
    margin: 0.5rem 0;
}

.pending-rewards small {
    font-size: 1rem;
    margin-bottom: 1rem;
}