.ido-stake-container {
    margin: 3rem 5.75rem;
    padding: 5rem 3.8rem;
    background-color: #15152D;
    border-radius: 3.125rem;
}

.participant-ido-stake {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 5rem;
}

.stake-logo-text {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    width: 60%;
}

.stake-text h3 {
    font-size: 2rem;
    margin: 0;
    font-weight: 700;

}

.stake-text p {
    margin: 0 0 1rem;
    font-weight: 600;
    font-size: 1.5rem;
}

.stake-text small {
    font-size: 1.2rem;
}

.token-details {
    display: flex;
    justify-content: space-between;
    padding: 3rem 4rem;
    margin-bottom: 5rem;
    border-bottom: 1px solid #8C8A8A;
}

.deposit-withdraw {
    display: flex;
    gap: 2rem;
}

.stake-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;   
}

.stake-details p, .pend-reward {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 500;
}

.wit-dep-stake p {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
}

.input-btn {
    border: 3px solid #D0CECE;
    display: flex;
    width: fit-content;
    height: 3rem;
    margin: 1rem 0 0.5rem;
    border-radius: 3px;
}

.input-btn input {
    background-color: transparent;
    border: none;
    width: 13rem;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    color: #D0CECE;
}

.input-btn input:focus {
    outline: none;
}

.input-btn button {
    padding: 0.5rem 1rem;
    color: #FFFFFF;
    font-size: 1.5rem;
    background-color: #2D314D;
    border: none;
    cursor: pointer;
}

.stake-button, .pending-rewards button {
    padding: 1rem 5rem;
    background: linear-gradient(90deg, #0043FE -10.61%, #500E98 117.53%);
    font-size: 1.5rem;
    color: #FFFFFF;
    font-weight: 700;
    border-radius: 2.375rem;
    border: none;
    cursor: pointer;
}

.pending-rewards {
    display: flex;
    flex-direction: column;

}

.reward-value {
    font-size: 2.25rem;
    font-weight: 700;
    margin: 0.5rem 0;
}

.pending-rewards small {
    font-size: 1rem;
    margin-bottom: 1rem;
}

@media (max-width:1300px) {
    .stake-logo-text img {
        width: 15%;
    }
    .stake-text h3 {
        font-size: 1.5rem;
    }
    
    .stake-text p {
        font-size: 1rem;
    }
    
    .stake-text small {
        font-size: 0.8rem;
    }

    .stake-details p, .pend-reward {
        font-size: 1.2rem;
    }
    
    .wit-dep-stake p {
        font-size: 1.2rem;
    }

    .input-btn input {
        width: 8rem;
    }

    .stake-button, .pending-rewards button {
        padding: 1rem 3rem;
    }

    .reward-value {
        font-size: 1.8rem;
    }
    
    .pending-rewards small {
        font-size: 0.8rem;
    }
}

@media (max-width:1000px) {
    .ido-stake-container {
        padding: 3rem 1.8rem;
    }

    .stake-logo-text {
        width: 80%;
    }

    .token-details {
        padding: 1.5rem 2rem;
    }
    
    .deposit-withdraw {
        gap: 1.5rem;
    }

    .input-btn input {
        width: 6rem;
        font-size: 1.2rem;
    }
    
    .input-btn button {
        font-size: 1.2rem;
    }
    
    .stake-button, .pending-rewards button {
        font-size: 1.2rem;
    }
}

@media (max-width:900px) {
    .stake-text h3 {
        font-size: 1rem;
    }
    
    .stake-text p {
        font-size: 0.8rem;
    }
    
    .stake-text small {
        font-size: 0.6rem;
    }

    .stake-details p, .pend-reward {
        font-size: 0.9rem;
    }
    
    .wit-dep-stake p {
        font-size: 0.9rem;
    }

    .input-btn input {
        width: 5rem;
        font-size: 1rem;
    }
    
    .input-btn button {
        font-size: 1rem;
    }
    
    .stake-button, .pending-rewards button {
        font-size: 1rem;
        padding: 0.8rem 1.5rem;
    }

    .reward-value {
        font-size: 1.2rem;
    }
    
    .pending-rewards small {
        font-size: 0.6rem;
    }
}

@media (max-width:870px) {
    .ido-stake-container {
        margin: 3rem 3rem;
    }
}

@media (max-width:720px) {
    .deposit-withdraw {
        flex-direction: column;
        gap: 2rem;
    }
}

@media (max-width:600px) {
    .token-details {
        padding: 1.5rem 1rem;
    }

    .stake-details p, .pend-reward {
        font-size: 0.6rem;
    }
}

@media (max-width:500px) {
    .ido-stake-container {
        margin: 3rem 1.5rem;
        padding: 3rem 1.3rem;
        border-radius: 2rem
    }

    .stake-text p {
        margin: 0 0 0.6rem;
    }

    .arrow-down {
        width: 7%;
    }
}

@media (max-width:380px) {
    .token-details {
        padding: 1.5rem 0;
    }
    
}

