.nav {
    display: flex;
    align-items: center;
    background-color: #000000;
    padding: 1rem 2.5rem;
}

.silicon-logo {
    margin-right: 15%;
    cursor: pointer;
}

.nav ul {
    display: flex;
    padding: 0;
    margin: 0 20% 0  0;
    gap: 1.5rem;
    list-style: none;
}

.nav ul a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 1.125rem;
    cursor: pointer;
}

.search-icon {
    margin-right: 2rem;
    cursor: pointer;
}

.connect-btn {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
    border: 2px solid #FFFFFF;
    background-color: transparent;
    color: #FFFFFF;
    gap: 0.5rem;
    font-size: 1.125rem;
    cursor: pointer;
}